body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,h2 {
    color: #FE4B45;
}

p {
    color: #333;
    text-align: left;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

a {
    color: #FE4B45;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 120px;
    margin-bottom: 20px;
}
